.card-container {
    display: flex;
    justify-content: center;/* Centrar horizontalmente */
    
    align-items: center; /* Centrar verticalmente */
   
    margin-top: 100px;
}


.form-custom {
    min-width: 150px;
    width: 100%;
}

.input-custom {
    padding-left: 20%;
    width: 60%;
}
.fill {
    padding-left: 20%;
    width: 60%;
}
.flex{
    padding-left: 40%;
}
.titulos{
    text-align: center;
    padding-left: 22%;
}